header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding-inline: 18px;
  border-bottom: 1px solid #fff5;
  background-color: #060c19;
}

.brand-logo {
  -webkit-user-select: none;
  user-select: none;
}

.nav-bar {
  img {
    width: 2rem;
    transform: translateY(3px);
    transition: all 0.3s ease;

    &:hover {
      cursor: pointer;
      -webkit-filter: drop-shadow(1px 1px 6px #bbb);
      filter: drop-shadow(1px 1px 6px #bbb);
    }
  }
}
