.cinema-widget {
  width: 100%;
  height: 65dvh;
  overflow-y: auto;
  background: white;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 2px 2px 12px black;

  * {
    -webkit-user-select: none;
    user-select: none;
  }
}

h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
}

span.totals {
  font-size: 13px;
  font-weight: 300;
  color: white;
  background: #ff3d00;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  border-bottom: 1px solid gray;

  &:last-child {
    border-bottom: none;
  }

  > h5 {
    margin: 0;
    margin-top: 6px;
  }

  > p {
    margin: 0;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 6px;
  }
}
