.section-title {
  padding-inline: clamp(18px, 5vw, 60px);
}

.scheduled-films {
  @extend .section-title;
  display: flex;
  overflow-y: auto;
  column-gap: 16px;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  touch-action: pan-x;
  margin-bottom: 4rem;
}
