.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 300;
}

h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 16px;
}

form div {
  margin-bottom: 15px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid #060c19;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #060c19;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  cursor: pointer;
  background-color: #060c19a2;
}

form button:disabled {
  cursor: not-allowed;
  background-color: #ccc;
}

.error-message {
  color: rgb(252, 52, 52);
  text-align: center;
  margin-top: 10px;
}
